$mold-blue-01: #1a94ff;
$mold-white: #ffffff;
$mold-border-default-color: hsl(0, 0%, 90%);
$mold-border-disabled-color: hsl(0, 0%, 90%);
$mold-border-disabled-alternative_color: hsl(0, 0%, 94%);
$mold-border-alternative-color: hsl(0, 0%, 94%);
$mold-border-focus-color: hsl(208, 100%, 34%);
$mold-border-active-color: hsl(208, 100%, 55%);
$mold-border-primary-color: hsl(208, 100%, 55%);
$mold-border-error-color: hsl(0, 78%, 53%);
$mold-border-strong-color: hsl(0, 0%, 13%);

$mold-radii-full: 9999px;
$mold-radii-large: 10px;
$mold-radii-medium: 6px;

$mold-alias-spacing-50: 2px;
$mold-alias-spacing-100: 4px;
$mold-alias-spacing-150: 6px;
$mold-alias-spacing-200: 8px;
$mold-alias-spacing-250: 12px;
$mold-alias-spacing-300: 16px;
$mold-alias-spacing-350: 20px;
$mold-alias-spacing-400: 24px;
$mold-alias-spacing-450: 28px;
$mold-alias-spacing-500: 32px;
$mold-alias-spacing-550: 36px;
$mold-alias-spacing-600: 40px;
$mold-alias-spacing-650: 80px;
