$sd-alias-spacing-50: 2px;
$sd-alias-spacing-100: 4px;
$sd-alias-spacing-150: 6px;
$sd-alias-spacing-200: 8px;
$sd-alias-spacing-250: 12px;
$sd-alias-spacing-300: 16px;
$sd-alias-spacing-350: 20px;
$sd-alias-spacing-400: 24px;
$sd-alias-spacing-450: 28px;
$sd-alias-spacing-500: 32px;
$sd-alias-spacing-550: 36px;
$sd-alias-spacing-600: 40px;
$sd-alias-spacing-650: 80px;
$sd-alias-spacing-auto: auto;
$sd-alias-radii-small: 4px;
$sd-alias-radii-medium: 6px;
$sd-alias-radii-large: 10px;
$sd-alias-radii-100-percent: 100%;
$sd-alias-static-white: #ffffff;
$sd-alias-bg-default: #ffffff;
$sd-alias-bg-alternative: #f5f5f5;
$sd-alias-bg-primary: #1a94ff;
$sd-alias-bg-primary-alternative: #f5faff;
$sd-alias-bg-error: #ffebeb;
$sd-alias-accent-primary: #1a94ff;
$sd-alias-text-default: #212121;
$sd-alias-text-alternative: #545454;
$sd-alias-text-assistive: #787878;
$sd-alias-text-info: #999999;
$sd-alias-text-priamary: #1a94ff;
$sd-alias-text-link: #1a94ff;
$sd-alias-text-error: #e52a2a;
$sd-alias-text-success: #00b88a;
$sd-alias-text-warning: #ff8b38;
$sd-alias-disabled-bg: #f5f5f5;
$sd-alias-disabled-text: #999999;
$sd-alias-disabled-border-width: 1px;
$sd-alias-disabled-border-style: solid;
$sd-alias-disabled-border-color: #e6e6e6;
$sd-alias-disabled-icon: #bababa;
$sd-alias-disabled-border-alternative-color: #f0f0f0;
$sd-alias-disabled-border-alternative-width: 1px;
$sd-alias-disabled-border-alternative-style: solid;
$sd-alias-form-sub-input-bg-default: #ffffff;
$sd-alias-form-sub-label-text-default: #212121;
$sd-alias-form-sub-input-text-default: #212121;
$sd-alias-form-sub-input-text-placeholder: #999999;
$sd-alias-form-sub-input-text-invalid: #e52a2a;
$sd-alias-form-sub-message-text-default: #787878;
$sd-alias-form-sub-message-text-invalid: #e52a2a;
$sd-alias-form-sub-label-required-dot-default: #e52a2a;
$sd-alias-form-sub-input-width-xsmall: 220px;
$sd-alias-form-sub-input-width-small: 290px;
$sd-alias-form-sub-input-width-medium: 370px;
$sd-alias-form-sub-input-width-100-percent: 100%;
$sd-alias-form-sub-input-height-medium: 36px;
$sd-alias-form-sub-input-height-xlarge: 138px;
$sd-alias-form-sub-input-leftslot-default: #212121;
$sd-alias-form-sub-input-leftslot-disabled: #bababa;
$sd-alias-form-sub-input-rightslot-default: #212121;
$sd-alias-form-sub-input-rightslot-disabled: #bababa;
$sd-alias-form-sub-input-border-default-color: #e6e6e6;
$sd-alias-form-sub-input-border-default-width: 1px;
$sd-alias-form-sub-input-border-default-style: soild;
$sd-alias-form-sub-input-border-focus-color: #005cad;
$sd-alias-form-sub-input-border-focus-width: 1px;
$sd-alias-form-sub-input-border-focus-style: soild;
$sd-alias-form-sub-input-border-invalid-color: #e52a2a;
$sd-alias-form-sub-input-border-invalid-width: 1px;
$sd-alias-form-sub-input-border-invalid-style: soild;
$sd-alias-form-sub-form-gap-100: 6px;
$sd-alias-form-sub-input-padding-left-medium: 12px;
$sd-alias-form-sub-input-padding-right-small: 4px;
$sd-alias-form-sub-input-padding-x-medium: 12px;
$sd-alias-form-sub-input-padding-y-medium: 8px;
$sd-alias-form-sub-input-gap-50: 4px;
$sd-alias-form-sub-input-gap-100: 6px;
$sd-alias-status-error: #e52a2a;
$sd-alias-status-success: #00b88a;
$sd-alias-status-warning: #ff8b38;
$sd-alias-opacity-0: 0%;
$sd-alias-opacity-200: 20%;
$sd-alias-border-default-color: #e6e6e6;
$sd-alias-border-default-width: 1px;
$sd-alias-border-default-style: soild;
$sd-alias-border-alternative-color: #f0f0f0;
$sd-alias-border-alternative-width: 1px;
$sd-alias-border-alternative-style: soild;
$sd-alias-border-focus-color: #005cad;
$sd-alias-border-focus-width: 1px;
$sd-alias-border-focus-style: soild;
$sd-alias-border-active-color: #1a94ff;
$sd-alias-border-active-width: 1px;
$sd-alias-border-active-style: soild;
$sd-alias-border-error-color: #e52a2a;
$sd-alias-border-error-width: 1px;
$sd-alias-border-error-style: soild;
$sd-alias-border-strong-color: #212121;
$sd-alias-border-strong-width: 1;
$sd-alias-border-strong-style: soild;
$sd-alias-table-sub-header-bg-default: #eaf3fb;
$sd-alias-table-sub-label-body-bg-default: #f5faff;
$sd-alias-table-sub-base-body-bg-default: #ffffff;
$sd-alias-table-sub-base-body-bg-hover: #f5faff;
$sd-alias-table-sub-base-body-bg-active: #e5f3ff;
$sd-alias-table-sub-summary-body-bg-default: #e5f3ff;
$sd-alias-table-sub-summary-body-bg-alternative: #f5f5f5;
$sd-alias-table-sub-exception-body-bg-default: #f5f5f5;
$sd-alias-table-sub-base-text-default: #212121;
$sd-alias-table-sub-base-text-alternative: #787878;
$sd-alias-table-sub-text-error: #e52a2a;
$sd-alias-table-sub-text-success: #00b88a;
$sd-alias-table-sub-text-warning: #ff8b38;
$sd-alias-table-sub-text-accent: #1a94ff;
$sd-alias-table-sub-text-exception: #999999;
$sd-alias-table-sub-header-border-bottom-default-color: #e6e6e6;
$sd-alias-table-sub-header-border-bottom-default-width: 1px;
$sd-alias-table-sub-header-border-bottom-default-style: soild;
$sd-alias-table-sub-body-border-bottom-default-color: #f0f0f0;
$sd-alias-table-sub-body-border-bottom-default-width: 1px;
$sd-alias-table-sub-body-border-bottom-default-style: soild;
$sd-alias-table-sub-header-border-right-default-color: #e6e6e6;
$sd-alias-table-sub-header-border-right-default-width: 1px;
$sd-alias-table-sub-header-border-right-default-style: soild;
$sd-alias-table-sub-body-border-right-default-color: #f0f0f0;
$sd-alias-table-sub-body-border-right-default-width: 1px;
$sd-alias-table-sub-body-border-right-default-style: soild;
$sd-alias-table-sub-column-width-50: 100px;
$sd-alias-table-sub-column-width-100: 120px;
$sd-alias-table-sub-column-width-150: 130px;
$sd-alias-table-sub-column-width-200: 140px;
$sd-alias-table-sub-column-width-250: 150px;
$sd-alias-table-sub-column-width-300: 160px;
$sd-alias-table-sub-column-width-350: 180px;
$sd-alias-table-sub-column-width-400: 200px;
$sd-alias-table-sub-column-width-450: 220px;
$sd-alias-table-sub-column-width-500: 250px;
$sd-alias-table-sub-column-width-550: 300px;
$sd-alias-table-sub-column-width-600: 350px;
$sd-alias-table-sub-column-width-650: 400px;
$sd-alias-table-sub-column-width-100-percent: 100%;
$sd-alias-table-sub-header-height-50: 34px;
$sd-alias-table-sub-header-height-100: 68px;
$sd-alias-table-sub-body-height-50: 24px;
$sd-alias-table-sub-body-height-100: 38px;
$sd-alias-table-sub-column-padding-x-medium: 12px;
$sd-alias-table-radii-label-topleft-radii: 6px 0px 0px 0px;
$sd-alias-table-radii-label-topright-radii: 0px 6px 0px 0px;
$sd-alias-shadow-default-0-x: 0;
$sd-alias-shadow-default-0-y: 4px;
$sd-alias-shadow-default-0-blur: 20px;
$sd-alias-shadow-default-0-spread: 0;
$sd-alias-shadow-default-0-color: #00000026;
$sd-alias-shadow-default-0-type: dropShadow;
$sd-alias-shadow-alternative-x: 0;
$sd-alias-shadow-alternative-y: 4px;
$sd-alias-shadow-alternative-blur: 16px;
$sd-alias-shadow-alternative-spread: 0;
$sd-alias-shadow-alternative-color: #0000000f;
$sd-alias-shadow-alternative-type: dropShadow;
$sd-alias-overlay-default: #00000033;
$sd-alias-divider-base: #e6e6e6;
$sd-alias-divider-alternative: #f0f0f0;
$sd-alias-divider-accent: #212121;
$sd-alias-icon-default: #212121;
$sd-alias-icon-accent: #1a94ff;
$sd-alias-icon-alternative: #bababa;
$sd-alias-icon-error: #e52a2a;
$sd-alias-typo-sub-underline-default: underline;
$sd-alias-popover-sub-item-width-50: 100px;
$sd-alias-popover-sub-item-width-100: 120px;
$sd-alias-popover-sub-item-width-200: 210px;
$sd-alias-popover-sub-item-width-250: 220px;
$sd-alias-popover-sub-item-width-300: 290px;
$sd-alias-popover-sub-item-width-100-percent: 100%;
$sd-alias-popover-sub-item-padding-x-small: 8px;
$sd-alias-popover-sub-item-padding-x-medium: 12px;
$sd-alias-popover-sub-item-padding-x-large: 16px;
$sd-alias-popover-sub-container-bg-default: #ffffff;
$sd-alias-popover-sub-container-title-text-default: #212121;
$sd-alias-popover-sub-container-title-text-alternative: #787878;
$sd-alias-popover-sub-container-sub-text-default: #787878;
$sd-alias-popover-sub-item-bg-default: #ffffff;
$sd-alias-popover-sub-item-bg-hover: #f5faff;
$sd-alias-popover-sub-item-bg-active: #e5f3ff;
$sd-alias-popover-sub-item-bg-selected: #e5f3ff;
$sd-alias-popover-sub-item-text-default: #212121;
$sd-alias-popover-sub-item-text-alternative: #545454;
$sd-alias-popover-sub-item-text-assistive: #787878;
$sd-alias-popover-sub-item-indicator-default: #1a94ff;
$sd-alias-popover-sub-item-padding-y-small: 6px;
$sd-alias-popover-sub-item-padding-y-medium: 12px;
$sd-component-button-theme-primary-bg-default: #1a94ff;
$sd-component-button-theme-primary-bg-hover: #0075db;
$sd-component-button-theme-primary-bg-active: #005cad;
$sd-component-button-theme-secondary-bg-default: #738391;
$sd-component-button-theme-secondary-bg-hover: #637483;
$sd-component-button-theme-secondary-bg-active: #4f5f6d;
$sd-component-button-theme-base-bg-default: #ffffff;
$sd-component-button-theme-base-bg-hover: #e5f3ff;
$sd-component-button-theme-base-bg-active: #bde0ff;
$sd-component-button-theme-outline-bg-default: #ffffff;
$sd-component-button-theme-outline-bg-hover: #e5f3ff;
$sd-component-button-theme-outline-bg-active: #bde0ff;
$sd-component-button-theme-primary-text-default: #ffffff;
$sd-component-button-theme-secondary-text-default: #ffffff;
$sd-component-button-theme-base-text-default: #545454;
$sd-component-button-theme-outline-text-default: #1a94ff;
$sd-component-button-theme-primary-border-default-color: #1a94ff;
$sd-component-button-theme-primary-border-default-width: 1px;
$sd-component-button-theme-primary-border-default-style: solid;
$sd-component-button-theme-primary-border-hover-color: #0075db;
$sd-component-button-theme-primary-border-hover-width: 1px;
$sd-component-button-theme-primary-border-hover-style: solid;
$sd-component-button-theme-primary-border-active-color: #005cad;
$sd-component-button-theme-primary-border-active-width: 1px;
$sd-component-button-theme-primary-border-active-style: solid;
$sd-component-button-theme-secondary-border-default-color: #738391;
$sd-component-button-theme-secondary-border-default-width: 1px;
$sd-component-button-theme-secondary-border-default-style: solid;
$sd-component-button-theme-secondary-border-hover-color: #637483;
$sd-component-button-theme-secondary-border-hover-width: 1px;
$sd-component-button-theme-secondary-border-hover-style: solid;
$sd-component-button-theme-secondary-border-active-color: #4f5f6d;
$sd-component-button-theme-secondary-border-active-width: 1px;
$sd-component-button-theme-secondary-border-active-style: solid;
$sd-component-button-theme-base-border-default-color: #e6e6e6;
$sd-component-button-theme-base-border-default-width: 1px;
$sd-component-button-theme-base-border-default-style: soild;
$sd-component-button-theme-outline-border-default-color: #1a94ff;
$sd-component-button-theme-outline-border-default-width: 1px;
$sd-component-button-theme-outline-border-default-style: solid;
$sd-component-button-shared-button-width-xsmall: 74px;
$sd-component-button-shared-button-width-small: 80px;
$sd-component-button-shared-button-width-medium: 90px;
$sd-component-button-shared-button-width-large: 120px;
$sd-component-button-shared-button-width-xlarge: 222px;
$sd-component-button-shared-button-width-100-percent: 100%;
$sd-component-button-shared-button-height-xsmall: 26px;
$sd-component-button-shared-button-height-small: 30px;
$sd-component-button-shared-button-height-medium: 36px;
$sd-component-button-shared-button-height-large: 44px;
$sd-component-button-shared-x-padding-small: 12px;
$sd-component-button-shared-x-padding-medium: 16px;
$sd-component-button-shared-x-padding-large: 24px;
$sd-component-button-shared-gap-small: 2px;
$sd-component-button-shared-gap-medium: 4px;
$sd-component-button-shared-icon-disabled: #999999;
$sd-component-icon-button-sub-icon-bg-default: #00000000;
$sd-component-icon-button-sub-icon-bg-hover: #e5f3ff;
$sd-component-icon-button-sub-icon-bg-active: #bde0ff;
$sd-component-icon-button-sub-size-small: 20px;
$sd-component-icon-button-sub-size-medium: 28px;
$sd-component-icon-button-sub-size-large: 40px;
$sd-component-icon-button-sub-icon-default: #212121;
$sd-component-icon-button-sub-icon-disabled: #bababa;
$sd-component-typo-heading-50-font-family: Pretendard;
$sd-component-typo-heading-50-font-weight: 700;
$sd-component-typo-heading-50-font-size: 13;
$sd-component-typo-heading-50-line-height: 150%;
$sd-component-typo-heading-50-letter-spacing: -0.2px;
$sd-component-typo-heading-100-font-family: Pretendard;
$sd-component-typo-heading-100-font-weight: 700;
$sd-component-typo-heading-100-font-size: 14;
$sd-component-typo-heading-100-line-height: 150%;
$sd-component-typo-heading-100-letter-spacing: -0.2px;
$sd-component-typo-heading-150-font-family: Pretendard;
$sd-component-typo-heading-150-font-weight: 700;
$sd-component-typo-heading-150-font-size: 16;
$sd-component-typo-heading-150-line-height: 150%;
$sd-component-typo-heading-150-letter-spacing: -0.2px;
$sd-component-typo-heading-200-font-family: Pretendard;
$sd-component-typo-heading-200-font-weight: 700;
$sd-component-typo-heading-200-font-size: 18;
$sd-component-typo-heading-200-line-height: 150%;
$sd-component-typo-heading-200-letter-spacing: -0.2px;
$sd-component-typo-heading-250-font-family: Pretendard;
$sd-component-typo-heading-250-font-weight: 800;
$sd-component-typo-heading-250-font-size: 20;
$sd-component-typo-heading-250-line-height: 150%;
$sd-component-typo-heading-250-letter-spacing: -0.2px;
$sd-component-typo-body-50-font-family: Pretendard;
$sd-component-typo-body-50-font-weight: 400;
$sd-component-typo-body-50-font-size: 12;
$sd-component-typo-body-50-line-height: 150%;
$sd-component-typo-body-50-letter-spacing: -0.2px;
$sd-component-typo-body-100-font-family: Pretendard;
$sd-component-typo-body-100-font-weight: 400;
$sd-component-typo-body-100-font-size: 13;
$sd-component-typo-body-100-line-height: 150%;
$sd-component-typo-body-100-letter-spacing: -0.2px;
$sd-component-typo-body-150-font-family: Pretendard;
$sd-component-typo-body-150-font-weight: 500;
$sd-component-typo-body-150-font-size: 13;
$sd-component-typo-body-150-line-height: 150%;
$sd-component-typo-body-150-letter-spacing: -0.2px;
$sd-component-typo-body-200-font-family: Pretendard;
$sd-component-typo-body-200-font-weight: 400;
$sd-component-typo-body-200-font-size: 14;
$sd-component-typo-body-200-line-height: 150%;
$sd-component-typo-body-200-letter-spacing: -0.2px;
$sd-component-typo-body-250-font-family: Pretendard;
$sd-component-typo-body-250-font-weight: 500;
$sd-component-typo-body-250-font-size: 14;
$sd-component-typo-body-250-line-height: 150%;
$sd-component-typo-body-250-letter-spacing: -0.2px;
$sd-component-typo-body-300-font-family: Pretendard;
$sd-component-typo-body-300-font-weight: 400;
$sd-component-typo-body-300-font-size: 16;
$sd-component-typo-body-300-line-height: 150%;
$sd-component-typo-body-300-letter-spacing: -0.2px;
$sd-component-typo-ui-50-font-family: Pretendard;
$sd-component-typo-ui-50-font-weight: 700;
$sd-component-typo-ui-50-font-size: 10;
$sd-component-typo-ui-50-line-height: 150%;
$sd-component-typo-ui-50-letter-spacing: -0.2px;
$sd-component-typo-ui-100-font-family: Pretendard;
$sd-component-typo-ui-100-font-weight: 500;
$sd-component-typo-ui-100-font-size: 11;
$sd-component-typo-ui-100-line-height: 150%;
$sd-component-typo-ui-100-letter-spacing: -0.2px;
$sd-component-typo-ui-150-font-family: Pretendard;
$sd-component-typo-ui-150-font-weight: 700;
$sd-component-typo-ui-150-font-size: 12;
$sd-component-typo-ui-150-line-height: 150%;
$sd-component-typo-ui-150-letter-spacing: -0.2px;
$sd-component-typo-ui-200-font-family: Pretendard;
$sd-component-typo-ui-200-font-weight: 800;
$sd-component-typo-ui-200-font-size: 20;
$sd-component-typo-ui-200-line-height: 150%;
$sd-component-typo-ui-200-letter-spacing: -0.2px;
$sd-component-data-table-sub-header-bg-default: #eaf3fb;
$sd-component-data-table-sub-label-body-bg-default: #f5faff;
$sd-component-data-table-sub-header-text-default: #212121;
$sd-component-data-table-sub-rightslot-default: #212121;
$sd-component-data-table-sub-base-body-bg-default: #ffffff;
$sd-component-data-table-sub-base-body-bg-hover: #f5faff;
$sd-component-data-table-sub-base-body-bg-active: #e5f3ff;
$sd-component-data-table-sub-exception-body-bg-default: #f5f5f5;
$sd-component-data-table-sub-body-text-default: #212121;
$sd-component-data-table-sub-body-text-error: #e52a2a;
$sd-component-data-table-sub-body-text-success: #00b88a;
$sd-component-data-table-sub-body-text-warning: #ff8b38;
$sd-component-data-table-sub-body-text-accent: #1a94ff;
$sd-component-data-table-sub-body-text-exception: #999999;
$sd-component-data-table-sub-header-border-bottom-default-color: #e6e6e6;
$sd-component-data-table-sub-header-border-bottom-default-width: 1px;
$sd-component-data-table-sub-header-border-bottom-default-style: soild;
$sd-component-data-table-sub-header-border-right-default-color: #e6e6e6;
$sd-component-data-table-sub-header-border-right-default-width: 1px;
$sd-component-data-table-sub-header-border-right-default-style: soild;
$sd-component-data-table-sub-body-border-bottom-default-color: #f0f0f0;
$sd-component-data-table-sub-body-border-bottom-default-width: 1px;
$sd-component-data-table-sub-body-border-bottom-default-style: soild;
$sd-component-data-table-sub-body-border-right-default-color: #f0f0f0;
$sd-component-data-table-sub-body-border-right-default-width: 1px;
$sd-component-data-table-sub-body-border-right-default-style: soild;
$sd-component-data-table-sub-column-padding-x-medium: 12px;
$sd-component-pagination-sub-box-width-medium: 32px;
$sd-component-pagination-sub-box-height-medium: 32px;
$sd-component-pagination-sub-bg-dafault: #ffffff;
$sd-component-pagination-sub-bg-selected: #1a94ff;
$sd-component-pagination-sub-bg-hover: #f5faff;
$sd-component-pagination-sub-text-default: #212121;
$sd-component-pagination-sub-text-selected: #ffffff;
$sd-component-pagination-sub-box-gap-small: 4px;
$sd-component-confirm-sub-box-width-small: 280px;
$sd-component-confirm-sub-box-width-medium: 344px;
$sd-component-confirm-sub-box-width-large: 400px;
$sd-component-confirm-sub-box-min-height: 93px;
$sd-component-confirm-sub-radii-action-button-bottom-large: 0px 0px 10px 10px;
$sd-component-confirm-sub-radii-action-button-right-bottom-large: 0px 0px 10px 0px;
$sd-component-confirm-sub-radii-dismiss-button-left-bottom-large: 0px 0px 0px 10px;
$sd-component-confirm-sub-padding-top-medium: 20px;
$sd-component-confirm-sub-padding-x-small: 24px;
$sd-component-confirm-sub-padding-bottom-medium: 24px;
$sd-component-confirm-theme-primary-button-border-focus-color: #005cad;
$sd-component-confirm-theme-primary-button-border-focus-width: 2px;
$sd-component-confirm-theme-primary-button-border-focus-style: solid;
$sd-component-confirm-theme-secondary-button-border-focus-color: #4f5f6d;
$sd-component-confirm-theme-secondary-button-border-focus-width: 2px;
$sd-component-confirm-theme-secondary-button-border-focus-style: solid;
$sd-component-text-radio-group-theme-enable-bg-default: #ffffff;
$sd-component-text-radio-group-theme-enable-bg-selected: #ffffff;
$sd-component-text-radio-group-theme-disabled-bg-default: #f5f5f5;
$sd-component-text-radio-group-theme-disabled-bg-selected: #f5f5f5;
$sd-component-text-radio-group-theme-enable-border-default-color: #e6e6e6;
$sd-component-text-radio-group-theme-enable-border-default-width: 1px;
$sd-component-text-radio-group-theme-enable-border-default-style: soild;
$sd-component-text-radio-group-theme-enable-border-selected-color: #1a94ff;
$sd-component-text-radio-group-theme-enable-border-selected-width: 1px;
$sd-component-text-radio-group-theme-enable-border-selected-style: soild;
$sd-component-text-radio-group-theme-disabled-border-default-color: #e6e6e6;
$sd-component-text-radio-group-theme-disabled-border-default-width: 1px;
$sd-component-text-radio-group-theme-disabled-border-default-style: soild;
$sd-component-text-radio-group-theme-disabled-border-selected-color: #bababa;
$sd-component-text-radio-group-theme-disabled-border-selected-width: 1px;
$sd-component-text-radio-group-theme-disabled-border-selected-style: solid;
$sd-component-text-radio-group-theme-enable-text-default: #545454;
$sd-component-text-radio-group-theme-enable-text-selected: #1a94ff;
$sd-component-text-radio-group-theme-disable-text-default: #999999;
$sd-component-text-radio-group-theme-disable-text-selected: #999999;
$sd-component-text-radio-group-shared-item-width-100-percent: 100%;
$sd-component-text-radio-group-shared-item-height-medium: 36px;
$sd-component-text-radio-group-shared-radii-leftside-medium: 6px 0px 0px 6px;
$sd-component-text-radio-group-shared-radii-rightside-medium: 0px 6px 6px 0px;
$sd-component-text-radio-group-sub-wrapper-width-100-percent: 100%;
$sd-component-text-radio-group-sub-wrapper-width-medium: 220px;
$sd-component-tagged-radio-group-sub-button-min-width: 80px;
$sd-component-tagged-radio-group-sub-button-height-medium: 30px;
$sd-component-tagged-radio-group-sub-container-gap-medium: 4px;
$sd-component-tagged-radio-group-sub-button-gap-medium: 4px;
$sd-component-tagged-radio-group-sub-container-padding-small: 4px;
$sd-component-tagged-radio-group-sub-button-padding-x-medium: 12px;
$sd-component-tagged-radio-group-sub-button-bg-default: #ffffff;
$sd-component-tagged-radio-group-sub-button-bg-selected: #1a94ff;
$sd-component-tagged-radio-group-sub-button-text-default: #545454;
$sd-component-tagged-radio-group-sub-button-text-selected: #ffffff;
$sd-component-checkbox-shared-box-width-small: 16px;
$sd-component-checkbox-shared-box-height-small: 16px;
$sd-component-checkbox-shared-select-icon-default: #ffffff;
$sd-component-checkbox-sub-label-gap-small: 4px;
$sd-component-checkbox-sub-label-text-default: #545454;
$sd-component-checkbox-theme-enable-bg-default: #ffffff;
$sd-component-checkbox-theme-enable-bg-selected: #1a94ff;
$sd-component-checkbox-theme-disabled-bg-default: #f5f5f5;
$sd-component-checkbox-theme-disabled-bg-selected: #bababa;
$sd-component-checkbox-theme-enable-border-default-color: #e6e6e6;
$sd-component-checkbox-theme-enable-border-default-width: 1px;
$sd-component-checkbox-theme-enable-border-default-style: soild;
$sd-component-checkbox-theme-enable-border-selected-color: #1a94ff;
$sd-component-checkbox-theme-enable-border-selected-width: 1px;
$sd-component-checkbox-theme-enable-border-selected-style: soild;
$sd-component-checkbox-theme-disabled-border-default-width: 1px;
$sd-component-checkbox-theme-disabled-border-default-style: solid;
$sd-component-checkbox-theme-disabled-border-default-color: #e6e6e6;
$sd-component-checkbox-theme-disabled-border-seleted-color: #bababa;
$sd-component-checkbox-theme-disabled-border-seleted-width: 1px;
$sd-component-checkbox-theme-disabled-border-seleted-style: soild;
$sd-component-switch-shared-switch-width-small: 38px;
$sd-component-switch-shared-switch-height-small: 22px;
$sd-component-switch-shared-padding-x-small: 6px;
$sd-component-switch-shared-indicator-default: #ffffff;
$sd-component-switch-shared-indicator-width-small: 12px;
$sd-component-switch-shared-indicator-height-small: 12px;
$sd-component-switch-theme-enable-bg-default: #e6e6e6;
$sd-component-switch-theme-enable-bg-selected: #1a94ff;
$sd-component-switch-theme-disabled-default: #e6e6e6;
$sd-component-switch-theme-disabled-selected: #bababa;
$sd-component-badge-shared-badge-width-static: 36px;
$sd-component-badge-shared-badge-height-xsmall: 16px;
$sd-component-badge-shared-badge-height-small: 18px;
$sd-component-badge-shared-badge-height-medium: 20px;
$sd-component-badge-shared-badge-height-large: 24px;
$sd-component-badge-shared-padding-x-small: 6px;
$sd-component-badge-shared-padding-x-medium: 8px;
$sd-component-badge-shared-padding-x-large: 12px;
$sd-component-badge-theme-bold-bg-blue: #1a94ff;
$sd-component-badge-theme-bold-bg-red: #e52a2a;
$sd-component-badge-theme-bold-bg-green: #00b88a;
$sd-component-badge-theme-bold-bg-b-gray: #738391;
$sd-component-badge-theme-bold-bg-gray: #bababa;
$sd-component-badge-theme-bold-text-default: #ffffff;
$sd-component-badge-theme-subtle-text-blue: #1a94ff;
$sd-component-badge-theme-subtle-text-red: #e52a2a;
$sd-component-badge-theme-subtle-text-green: #00b88a;
$sd-component-badge-theme-subtle-text-b-gray: #738391;
$sd-component-badge-theme-subtle-text-gray: #bababa;
$sd-component-badge-theme-subtle-bg-blue: #e5f3ff;
$sd-component-badge-theme-subtle-bg-red: #ffebeb;
$sd-component-badge-theme-subtle-bg-green: #ecfef9;
$sd-component-badge-theme-subtle-bg-b-gray: #eaf3fb;
$sd-component-badge-theme-subtle-bg-gray: #f5f5f5;
$sd-component-badge-theme-minimal-text-blue: #1a94ff;
$sd-component-badge-theme-minimal-text-red: #e52a2a;
$sd-component-badge-theme-minimal-text-green: #00b88a;
$sd-component-badge-theme-minimal-text-b-gray: #738391;
$sd-component-badge-theme-minimal-text-gray: #bababa;
$sd-component-badge-theme-minimal-bg-default: #ffffff;
$sd-component-badge-theme-bold-border-blue-color: #1a94ff;
$sd-component-badge-theme-bold-border-blue-width: 1px;
$sd-component-badge-theme-bold-border-blue-style: solid;
$sd-component-badge-theme-bold-border-red-color: #e52a2a;
$sd-component-badge-theme-bold-border-red-width: 1px;
$sd-component-badge-theme-bold-border-red-style: solid;
$sd-component-badge-theme-bold-border-green-color: #00b88a;
$sd-component-badge-theme-bold-border-green-width: 1px;
$sd-component-badge-theme-bold-border-green-style: solid;
$sd-component-badge-theme-bold-border-b-gray-color: #738391;
$sd-component-badge-theme-bold-border-b-gray-width: 1px;
$sd-component-badge-theme-bold-border-b-gray-style: solid;
$sd-component-badge-theme-bold-border-gray-color: #bababa;
$sd-component-badge-theme-bold-border-gray-width: 1px;
$sd-component-badge-theme-bold-border-gray-style: solid;
$sd-component-badge-theme-minimal-border-blue-color: #1a94ff;
$sd-component-badge-theme-minimal-border-blue-width: 1px;
$sd-component-badge-theme-minimal-border-blue-style: solid;
$sd-component-badge-theme-minimal-border-red-color: #e52a2a;
$sd-component-badge-theme-minimal-border-red-width: 1px;
$sd-component-badge-theme-minimal-border-red-style: solid;
$sd-component-badge-theme-minimal-border-green-color: #00b88a;
$sd-component-badge-theme-minimal-border-green-width: 1px;
$sd-component-badge-theme-minimal-border-green-style: solid;
$sd-component-badge-theme-minimal-border-b-gray-color: #738391;
$sd-component-badge-theme-minimal-border-b-gray-width: 1px;
$sd-component-badge-theme-minimal-border-b-gray-style: solid;
$sd-component-badge-theme-minimal-border-gray-color: #bababa;
$sd-component-badge-theme-minimal-border-gray-width: 1px;
$sd-component-badge-theme-minimal-border-gray-style: solid;
$sd-component-badge-theme-subtle-border-blue-color: #e5f3ff;
$sd-component-badge-theme-subtle-border-blue-width: 1px;
$sd-component-badge-theme-subtle-border-blue-style: solid;
$sd-component-badge-theme-subtle-border-red-color: #ffebeb;
$sd-component-badge-theme-subtle-border-red-width: 1px;
$sd-component-badge-theme-subtle-border-red-style: solid;
$sd-component-badge-theme-subtle-border-green-color: #ecfef9;
$sd-component-badge-theme-subtle-border-green-width: 1px;
$sd-component-badge-theme-subtle-border-green-style: solid;
$sd-component-badge-theme-subtle-border-b-gray-color: #eaf3fb;
$sd-component-badge-theme-subtle-border-b-gray-width: 1px;
$sd-component-badge-theme-subtle-border-b-gray-style: solid;
$sd-component-badge-theme-subtle-border-gray-color: #f5f5f5;
$sd-component-badge-theme-subtle-border-gray-width: 1px;
$sd-component-badge-theme-subtle-border-gray-style: solid;
$sd-component-badge-theme-radii-xsmall: 8px;
$sd-component-badge-theme-radii-small: 9px;
$sd-component-badge-theme-radii-medium: 10px;
$sd-component-badge-theme-radii-large: 12px;
$sd-component-toast-sub-box-width-default: 350px;
$sd-component-toast-sub-padding-x-medium: 12px;
$sd-component-toast-sub-padding-y-medium: 8px;
$sd-component-toast-sub-bg-default: #27343fcc;
$sd-component-toast-sub-title-text-defalut: #ffffff;
$sd-component-toast-sub-sub-text-default: #ffffff;
$sd-component-grid-sub-header-bg-default: #eaf3fb;
$sd-component-grid-sub-label-body-bg-default: #f5faff;
$sd-component-grid-sub-header-text-default: #212121;
$sd-component-grid-sub-rightslot-default: #212121;
$sd-component-grid-sub-base-body-bg-default: #ffffff;
$sd-component-grid-sub-summary-body-bg-default: #e5f3ff;
$sd-component-grid-sub-summary-body-bg-alternative: #f5f5f5;
$sd-component-grid-sub-header-border-bottom-default-color: #e6e6e6;
$sd-component-grid-sub-header-border-bottom-default-width: 1px;
$sd-component-grid-sub-header-border-bottom-default-style: soild;
$sd-component-grid-sub-header-border-right-default-color: #e6e6e6;
$sd-component-grid-sub-header-border-right-default-width: 1px;
$sd-component-grid-sub-header-border-right-default-style: soild;
$sd-component-grid-sub-body-border-bottom-default-color: #f0f0f0;
$sd-component-grid-sub-body-border-bottom-default-width: 1px;
$sd-component-grid-sub-body-border-bottom-default-style: soild;
$sd-component-grid-sub-body-border-right-default-color: #f0f0f0;
$sd-component-grid-sub-body-border-right-default-width: 1px;
$sd-component-grid-sub-body-border-right-default-style: soild;
$sd-component-grid-sub-body-text-default: #212121;
$sd-component-grid-sub-body-text-alternative: #787878;
$sd-component-grid-sub-body-text-error: #e52a2a;
$sd-component-grid-sub-body-text-success: #00b88a;
$sd-component-grid-sub-body-text-warning: #ff8b38;
$sd-component-grid-sub-body-text-accent: #1a94ff;
$sd-component-grid-sub-body-text-exception: #999999;
$sd-component-grid-sub-body-text-link: #1a94ff;
$sd-component-grid-sub-column-padding-x-medium: 12px;
$sd-component-grid-sub-column-padding-left-large: 20px;
$sd-component-grid-sub-column-padding-right-medium: 12px;
$sd-component-grid-sub-exception-body-bg-default: #f5f5f5;
$sd-component-avatar-sub-img-size-small: 46px;
$sd-component-avatar-sub-img-size-medium: 66px;
$sd-component-avatar-sub-close-dot-size-medium: 24px;
$sd-component-avatar-sub-container-size-small: 50px;
$sd-component-avatar-sub-container-size-medium: 72px;
$sd-component-avatar-sub-close-dot-icon-defalut: #ffffff;
$sd-component-avatar-sub-close-dot-bg-default: #e52a2a;
$sd-component-tooltip-theme-negative-bg-default: #e52a2a;
$sd-component-tooltip-theme-positive-bg-default: #1a94ff;
$sd-component-tooltip-shared-content-text-default: #ffffff;
$sd-component-tooltip-shared-padding-x-small: 6px;
$sd-component-tooltip-shared-padding-y-small: 1px;
$sd-component-tooltip-shared-content-max-width: 400px;
$sd-component-tag-shared-padding-x-small: 12px;
$sd-component-tag-shared-padding-y-small: 4px;
$sd-component-tag-shared-gap-small: 2px;
$sd-component-tag-theme-subtle-text-blue: #1a94ff;
$sd-component-tag-theme-subtle-bg-blue: #f5faff;
$sd-component-tag-theme-subtle-icon-blue: #1a94ff;
$sd-component-solid-accordion-sub-item-width-100-percent: 100%;
$sd-component-solid-accordion-sub-item-padding-x-medium: 12px;
$sd-component-solid-accordion-sub-item-padding-y-small: 6px;
$sd-component-solid-accordion-sub-item-bg-default: #ffffff;
$sd-component-solid-accordion-sub-item-bg-hover: #f5faff;
$sd-component-solid-accordion-sub-item-bg-active: #e5f3ff;
$sd-component-solid-accordion-sub-item-text-default: #212121;
$sd-component-solid-accordion-sub-item-text-alternative: #787878;
$sd-component-solid-accordion-sub-item-text-selected: #1a94ff;
$sd-component-solid-accordion-sub-trigger-width-100-percent: 100%;
$sd-component-solid-accordion-sub-trigger-gap-medium: 8px;
$sd-component-solid-accordion-sub-trigger-padding-left-medium: 12px;
$sd-component-solid-accordion-sub-trigger-padding-right-small: 6px;
$sd-component-solid-accordion-sub-trigger-padding-y-medium: 6px;
$sd-component-solid-accordion-sub-trigger-bg-default: #ffffff;
$sd-component-solid-accordion-sub-trigger-text-default: #212121;
$sd-component-listbox-sub-item-width-xsmall: 120px;
$sd-component-listbox-sub-item-width-small: 220px;
$sd-component-listbox-sub-item-width-100-percent: 100%;
$sd-component-listbox-sub-item-padding-x-small: 8px;
$sd-component-listbox-sub-item-padding-x-medium: 12px;
$sd-component-listbox-sub-item-bg-default: #ffffff;
$sd-component-listbox-sub-item-bg-hover: #f5faff;
$sd-component-listbox-sub-item-bg-active: #e5f3ff;
$sd-component-listbox-sub-item-bg-selected: #e5f3ff;
$sd-component-listbox-sub-item-text-default: #212121;
$sd-component-listbox-sub-item-padding-y-small: 6px;
$sd-component-listbox-sub-trigger-width-xsmall: 120px;
$sd-component-listbox-sub-trigger-width-small: 220px;
$sd-component-listbox-sub-trigger-width-100-percent: 100%;
$sd-component-listbox-sub-item-height-small: 30px;
$sd-component-listbox-sub-item-height-medium: 32px;
$sd-component-listbox-sub-trigger-height-small: 30px;
$sd-component-listbox-sub-trigger-height-medium: 36px;
$sd-component-listbox-sub-trigger-padding-x-small: 8px;
$sd-component-listbox-sub-trigger-padding-x-medium: 12px;
$sd-component-listbox-sub-trigger-icon-gap-small: 4px;
$sd-component-listbox-sub-trigger-icon-gap-auto: auto;
$sd-component-listbox-sub-trigger-badge-gap-small: 6px;
$sd-component-listbox-sub-trigger-border-default-color: #e6e6e6;
$sd-component-listbox-sub-trigger-border-default-width: 1px;
$sd-component-listbox-sub-trigger-border-default-style: soild;
$sd-component-listbox-sub-trigger-border-opend-color: #1a94ff;
$sd-component-listbox-sub-trigger-border-opend-width: 1px;
$sd-component-listbox-sub-trigger-border-opend-style: soild;
$sd-component-listbox-sub-trigger-text-default: #212121;
$sd-component-listbox-sub-trigger-text-placeholder: #999999;
$sd-component-listbox-sub-trigger-bg-default: #ffffff;
$sd-component-menu-sub-container-bg-default: #ffffff;
$sd-component-menu-sub-container-title-text-defalut: #212121;
$sd-component-menu-sub-container-sub-text-default: #787878;
$sd-component-menu-sub-item-bg-default: #ffffff;
$sd-component-menu-sub-item-bg-hover: #f5faff;
$sd-component-menu-sub-item-bg-active: #e5f3ff;
$sd-component-menu-sub-item-bg-selected: #e5f3ff;
$sd-component-menu-sub-item-text-default: #212121;
$sd-component-menu-sub-item-text-alternative: #545454;
$sd-component-menu-sub-item-text-assistive: #787878;
$sd-component-menu-sub-item-indicator-default: #1a94ff;
$sd-component-menu-sub-item-width-200: 210px;
$sd-component-menu-sub-item-padding-x-medium: 16px;
$sd-component-menu-sub-item-padding-y-small: 6px;
$sd-component-menu-sub-container-padding-top-medium: 12px;
$sd-component-selectbox-sub-item-width-small: 100px;
$sd-component-selectbox-sub-item-width-large: 290px;
$sd-component-selectbox-sub-item-width-100-percent: 100%;
$sd-component-selectbox-sub-item-padding-x-medium: 12px;
$sd-component-selectbox-sub-item-padding-x-large: 16px;
$sd-component-selectbox-sub-item-padding-y-small: 6px;
$sd-component-selectbox-sub-item-padding-y-large: 12px;
$sd-component-selectbox-sub-item-bg-default: #ffffff;
$sd-component-selectbox-sub-item-bg-hover: #f5faff;
$sd-component-selectbox-sub-item-bg-active: #e5f3ff;
$sd-component-selectbox-sub-item-indicator-default: #1a94ff;
$sd-component-selectbox-sub-item-text-default: #212121;
$sd-component-selectbox-sub-item-text-assistive: #787878;
$sd-component-selectbox-sub-container-bg-default: #ffffff;
$sd-component-selectbox-sub-container-title-text-default: #787878;
$sd-component-text-button-shared-gap-small: 2px;
$sd-component-text-button-shared-gap-medium: 4px;
$sd-component-text-button-theme-base-text-default: #212121;
$sd-component-text-button-theme-primary-text-default: #1a94ff;
$sd-component-ghost-accordion-sub-trigger-text-default: #212121;
$sd-component-ghost-accordion-sub-item-text-default: #787878;
$sd-component-ghost-accordion-sub-item-text-selected: #1a94ff;
$sd-component-ghost-accordion-sub-item-text-accent: #212121;
$sd-component-tab-theme-underline-bottom-bar-width-100-percent: 100%;
$sd-component-tab-theme-underline-indicator-width-100-percent: 100%;
$sd-component-tab-theme-underline-height-medium: 34px;
$sd-component-tab-theme-rounded-item-height-medium: 30px;
$sd-component-tab-theme-underline-horizon-gap-medium: 16px;
$sd-component-tab-theme-underline-bottom-gap-medium: 8px;
$sd-component-tab-theme-underline-item-gap-medium: 4px;
$sd-component-tab-theme-rounded-item-padding-x-medium: 12px;
$sd-component-tab-theme-rounded-contents-gap-medium: 4px;
$sd-component-tab-theme-rounded-item-gap-medium: 4px;
$sd-component-tab-theme-underline-contents-text-default: #212121;
$sd-component-tab-theme-underline-contents-text-selected: #212121;
$sd-component-tab-theme-underline-contents-number-text-default: #212121;
$sd-component-tab-theme-underline-contents-number-text-selected: #1a94ff;
$sd-component-tab-theme-rounded-accent-label-text-default: #1a94ff;
$sd-component-tab-theme-rounded-accent-label-text-selected: #ffffff;
$sd-component-tab-theme-underline-bottom-bar-default: #e6e6e6;
$sd-component-tab-theme-underline-indicator-selected: #1a94ff;
$sd-component-tab-theme-rounded-bg-selected: #1a94ff;
$sd-component-tab-theme-rounded-accent-number-text-default: #1a94ff;
$sd-component-tab-theme-rounded-accent-number-text-selected: #ffffff;
$sd-component-tab-theme-rounded-normal-label-text-default: #545454;
$sd-component-tab-theme-rounded-normal-label-text-selected: #ffffff;
$sd-component-tab-theme-rounded-normal-number-text-default: #545454;
$sd-component-tab-theme-rounded-normal-number-text-selected: #ffffff;
$sd-component-hover-container-sub-bg-default: #ffffff;
$sd-component-background-gradation-sub-color-start: #0000000f;
$sd-component-background-gradation-sub-color-end: #00000000;
$sd-component-background-gradation-sub-horizon-width-100-percent: 100%;
$sd-component-background-gradation-sub-horizon-height-default: 16px;
$sd-component-background-gradation-sub-vertical-width-default: 16px;
$sd-component-background-gradation-sub-vertical-height-100-percent: 100%;
$sd-component-phone-number-fields-sub-width-xsmall: 52px;
$sd-component-phone-number-fields-sub-width-small: 66px;
